@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
  font-weight: 500;
}

[data-invalid],
[data-invalid].select button {
  @apply border-red-500;
}

.btn-primary {
  @apply px-6 py-2 font-bold text-white transition-colors bg-indigo-700 rounded hover:bg-indigo-800;
}

.btn-secondary {
  @apply px-6 py-2 font-bold text-black transition-colors border-2 border-indigo-700 rounded hover:bg-indigo-800 hover:text-white;
}
